<template>
  <!-- eslint-disable max-len -->
  <div class="calculator">
    <div class="header">
      <img class="logo" alt="Wedoogift logo" src="../assets/images/wdg.png">
    </div>
    <div class="inputs">
      <h2 class="title" >CALCULATOR</h2>
      <div class="buttons" v-if="showChoice">
        <p>{{ message }}</p>
        <input v-if="floor" class="btn" id="previous" type="button" :value="floor" @click="previous"/>
        <input v-if="ceil" class="btn" id="next" type="button" :value="ceil" @click="next"/>
      </div>
      <div class="amount">
        <input id="amount" type="number" min="0" step="1" :value="amount" @input="change"/>
      </div>
      <div class="buttons">
        <input class="btn" id="previous" type="button" value="-" @click="previous"/>
        <input class="btn" id="next" type="button" value="+" @click="next"/>
      </div>
      <div class="validate">
        <input id="validate" type="button" value="VALIDER" @click="validate"/>
      </div>
      <div class="cards" v-if="showResults">
        <p>Votre montant est composé des cartes suivantes : </p>
        <p v-for="(card, index) in cards" :key="index">- {{ card }} €</p>
      </div>
    </div>
  </div>
</template>

<script>
/* eslint-disable */
export default {
  name: 'calculator',
  data: () => ({
    showResults: false,
    message: '',
    cards: [],
    amount: 0,
    floor: null,
    ceil: null,
    shopID: 5,
    token: 'tokenTest123',
  }),
  computed: {
    url() {
      return `http://localhost:3000/shop/${this.shopID}/search-combination`;
    },
    showChoice () {
      return this.floor || this.ceil;
    }
  },
  methods: {
    change(event) {
      this.amount = event.target.value;
    },
    //Get the cards from the API
    async fetch() {
      const requestParameters = {
        method: 'GET',
        headers: new Headers({
          Authorization: this.token,
        }),
      };
      const request = `${this.url}?amount=${this.amount}`;

      const combinations = await fetch(request, requestParameters)
        .then((res) => res.json())
        .then((res) => res);

      return combinations;
    },
    //Previous available amount
    async previous() {
      try {
        const response = await this.fetch();
        this.floor = null;
        this.ceil = null;

        if (response.floor) {
          this.amount = response.floor.value;
          this.validate()
        }
      } catch (error) {
        console.log('Error:', error);
      }
    },
    //Next available amount
    async next() {
      try {
        const response = await this.fetch();
        this.floor = null;
        this.ceil = null;

        if (response.ceil) {
          this.amount = response.ceil.value;
          this.validate()
        }
      } catch(error) {
        console.log('Error:', error);
      }
    },
    //Click handler for "Valider" button
    async validate() {
      try {
        const response = await this.fetch();
        console.log('RESPONSE : ', response);
        this.cards = [];

        //Available amount
        if (response.equal) {
          response.equal.cards.forEach((item) => {
            this.cards.push(item);
          });
          this.showResults = true;
        } else if(this.amount < 20) {
          this.next();
        }else if(this.amount > 70) {
          this.previous();
        } else {
          this.showResults = false;
          if (response.floor)
            this.floor = response.floor.value;
          if (response.ceil)
            this.ceil = response.ceil.value;

          this.message = `Le montant entré n'est pas disponible.Veuillez choisir une des valeurs suivantes :`;
          this.$emit('Output', this.amount)
        }
      } catch (error) {
        console.log('Error:', error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
  .calculator {
    display: block;

    .header {
      padding-top: 5%;
      padding-bottom: 10%;
      background: linear-gradient(rgba(16,231,220,1),rgba(16,231,220,1));
      animation-name: move;
      animation-duration: 1s;
      animation-direction: reverse;
      animation-fill-mode: backwards;

      .logo {
        margin: auto;
        width: 40vw;
        height: 20vh;
      }
    }

    @keyframes move {
      from  {margin: 0 auto 0 auto;}
      to {margin: -6% auto 5% auto;}
    }
    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
    .inputs {
      background: linear-gradient(rgba(16,231,220,1),rgba(16,231,220,1));
      border: 2px solid white;
      border-radius: 10px;
      padding-top: 0.5%;
      padding-bottom: 10px;
      width: 60vh;
      display: block;
      align-items: center;
      animation-name: move;
      animation-duration: 1s;
      animation-fill-mode: forwards;
      -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.205);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,.205);

      .title {
        color: white;
        font-family: 'Eras* Bold';
        font-size: 2rem;
      }

      .amount {
        margin: 0 auto 0 auto; 
        width: 80%;

        #amount {
          margin-top: 10%;
          width: calc(100%);
          height: 30px;
          border: none;
          text-align: center;
          border-radius: 3px;
          font-family: 'Eras* Book';
        }
      }

      .buttons {
        font-family: 'Eras* Book';
        margin-top: 3%;
        color: white;

        .btn {
          font-family: 'Eras* Bold';
          font-weight: 2rem;
          color: white;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          border: none;
          background: rgba(44, 130, 201, 1);
        }

        #previous {
          margin-right: 5%;
        }

        #next {
          margin-left: 5%;
        }
      }

      #validate {
        font-family: 'Eras* Book';
        margin-top: 10%;
        margin-bottom: 5%;
        width: 40%;
        height: 40px;
        border: none;
        border-radius: 3px;
        color: white;
        font-weight: bold;
        background: rgba(226, 106, 106, 1);
      }

      .cards {
        color: white;
      }
    }
  }
</style>
