<template>
  <div id="app">
      <router-link to="/"></router-link>
    <router-view/>
  </div>
</template>

<style lang="scss">
@font-face {
    font-family: 'Eras* Book';
    font-style: normal;
    font-weight: normal;
    src:  local('Eras* Book'),
          url('assets/fonts/eras-bq-cufonfonts-webfont/eras-book-587181c4d21d4.woff')
          format('woff');
}
@font-face {
    font-family: 'Eras* Bold';
    font-style: normal;
    font-weight: normal;
    src:  local('Eras* Bold'),
          url('assets/fonts/eras-bq-cufonfonts-webfont/eras-bold-5871820c913a2.woff')
          format('woff');
}
#app {
  font-family: 'Eras* Book';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
